body
{
	font-size : 18px;
	background-color: rgba(253, 253, 253 , 255);
	color: black;
}


#title
{
	font-family: 'Josefin Slab' , serif;
}

#nav
{
	width : 80%;
	height: 150px;
	float: left;
	margin-left: 10%;
}

.navlink
{
	float : left;
	width : 15%;
	margin-left: 5%;
}