

body
{
	font-size : 18px;
	background-color: rgba(247, 247, 253 , 255);
	color: black;
}

#salty
{
	width: 100%;
    height: 800px;
   	float: left;
    z-index: -1;
}


#title
{
	font-family: 'Josefin Slab' , serif;
    width: 100%;
    height: 93px;
    float: left;
    font-size: 57px;
    text-align: center;
}

#title
{
	margin-top: 1%;
}


#subtitle
{
	font-family: "Josefin Slab", cursive;
	font-size: 32px;
    width: 100%;
    text-align: center;
}

#nav
{
	width : 90%;
	height: 50px;
	float: left;
	margin-left: 10%;
}

.navlink
{
	float : left;
	width : 15%;
	margin-left: 5%;
}